:root {
	--black:#0b0c0d;
	--darkBlue:#1c2024;
	--white:#ffffff;
}
body {
	margin: 0px;
	font-family: 'Arvo', serif;
}
#mainBody {
	
}
/* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
